@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply m-0 font-sans antialiased;
}

code {
  @apply font-mono;
}

header {
  @apply flex justify-between;
}

main {
  @apply grid justify-items-center;
}

h1 {
  @apply text-5xl sm:text-2xl md:text-4xl;
}

p {
  @apply text-lg;
}

div {
  @apply outline-black;
}

#cursor {
  height: 1.5rem;
  position: relative;
  transform-origin: top left;
  width: 2px;
  background-color: black;
  animation-name: cursorFlash;
  animation-iteration-count: infinite;
  animation-duration: 1s;
}

@keyframes cursorFlash {
  0%,
  100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

#codeInput {
  /* height: 0; */
  /* padding: 0; */
  /* margin: 0; */
  /* border: none; */
  /* outline: none; */
  /* display: block; */
}
