:root {
  @apply mx-0 block;
}

.dark {
  --color-bg-primary: #2d3748;
  --color-bg-secondary: #283141;
  --color-text-primary: #f7fafc;
  --color-text-secondary: #e2e8f0;
  --color-text-accent: #81e6d9;
}

.light {
  --color-bg-primary: #ffffff;
  --color-bg-secondary: #edf2f7;
  --color-text-primary: #2d3748;
  --color-text-secondary: #4a5568;
  --color-text-accent: #2b6cb0;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply font-mono antialiased;
}

body {
  @apply mx-0;
}

footer,
header,
main {
  @apply max-w-7xl xl:w-screen mx-auto;
}

header {
  @apply flex justify-between;
  @apply px-8;
}

main {
  @apply block;
  @apply px-8 py-16;
}

h1 {
  @apply text-4xl;
}

p {
  @apply text-base;
}

div {
  @apply outline-black;
}

input {
  @apply block;
  @apply rounded border-2 border-gray-400 outline-none h-10 w-80;
}

#codeWrapper {
  @apply block relative;
  @apply w-full;
  @apply inline-block;
}

.blurred {
  @apply transition duration-150 ease-in-out;
  opacity: 0.25;
  filter: blur(4px);
  -webkit-filter: blur(4px);
}

.endscreen {
  opacity: 0;
}

.WordList {
  @apply text-2xl;
  font-variant: no-common-ligatures;
}

.Word {
  @apply m-1.5;
}

.darkTyped {
  color: #d6d2bc;
}

#cursor {
  @apply text-2xl m-1.5;
  @apply absolute origin-top-left;
  height: 1.5em;
  width: 2px;
  animation-name: cursorFlash;
  animation-iteration-count: infinite;
  animation-duration: 1s;
}

@keyframes cursorFlash {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

#codeInput {
  height: 0;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  display: block;
}

#focusWarning {
  text-align: center;
  height: 0;
  line-height: 150px;
  z-index: 999;
  position: relative;
  user-select: none;
  pointer-events: none;
}

#endScreen {
  text-align: center;
  position: relative;
  height: 10;
  z-index: 999;
}
